.main {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  background-color: var(--secondary-bg);
  color: var(--text-primary);
}

.main h1 {
  font-size: 1.5rem;
  margin: 0;
  line-height: 1.5;
  font-weight: 700;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.changeLog {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.version {
  font-size: 1.5rem;
  font-weight: bold;
}

.changes {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.change {
  font-size: 1.2rem;
  font-weight: bold;
}