.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 100%;
}

.imageContainer {
  width: 50%;
}

.imageContainer img {
  width: 250px;
  height: auto;
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.ctaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ctaButton {
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: var(--primary);
  color: var(--text);
  cursor: pointer;
}