.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--section-padding);
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 50%;
  padding-left: 5rem;
}

.textContainer p, .textContainer h1, .textContainer h2, .textContainer h3 {
  width: 100%;
  text-align: start;
}

.textContainer .ctaButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #5865f2;
  color: white;
  cursor: pointer;
  width: fit-content;
  transition: 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctaButton p {
  padding-left: 1rem;
  color: white;
  font-weight: bold;
}

.imageContainer {
  width: 30%;
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.imageContainer img {
  width: 250px;
  height: auto;
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: var(--section-padding);
}

.ctaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.commandsContainer .title {
  text-align: center;
}