.main {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  background-color: var(--secondary-bg);
  color: var(--text-primary);
}

.main h1 {
  font-size: 1.5rem;
  margin: 0;
  line-height: 1.5;
  font-weight: 700;
}

.games {
  display: flex;
  flex-wrap: wrap;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search label {
  font-size: 1.2rem;
}

.search input {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: transparent;
  color : var(--text-primary);
  transition: 0.3s;
  border: none;
  width: 400px;
  margin-bottom: 5px;
  
  &:focus {
    border: none;
    outline: none;
  }
}

.search input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
  color: inherit !important
}

.search input:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  color: inherit!important;
}

.search button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: var(--text-primary);
  transition: 0.3s;
  border: none;
  border-left: 1px solid var(--text-primary);
  cursor: pointer;
  font-size: 1.2rem;
}

.legend {
  font-size: 1.2rem;
  font-weight: bold;
}

.fieldset {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .search input {
width: 340px;
  }
}