.main {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  background-color: var(--secondary-bg);
  color: var(--text-primary);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--accent);
  text-align: center;
  margin-bottom: var(--section-padding);
}

.games {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.search input,
.search button {
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: var(--text-primary);
  border: none;
  transition: 0.3s;
}

.search input {
  width: 400px;
  margin-bottom: 5px;
}

.search input:focus,
.search button:focus {
  outline: none;
}

.search button {
  border-left: 1px solid var(--text-primary);
  cursor: pointer;
}

.search input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-text-fill-color: var(--text-primary) !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: inherit !important;
}

.search input:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  color: var(--text-primary) !important;
}


.search input:-moz-autofill {
  color: var(--text-primary) !important;
  background-color: transparent !important;
}

.referenceContainer {
  margin-top: 16px;
  padding: 12px;
  text-align: center;
}

.referenceTitle {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 8px;
}

.referenceRow {
  display: flex;
  justify-content: center;
  /* Centra los elementos horizontalmente */
  gap: 12px;
  /* Espaciado entre los elementos */
  flex-wrap: wrap;
  /* Hace que los elementos se ajusten si no caben */
}

.referenceItem {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--primary-bg);
  padding: 6px 10px;
  border-radius: 6px;
  justify-content: center;
}

.referenceItem p {
  font-size: 0.95rem;
  color: var(--text-secondary);
  margin: 0;
}

.icon {
  font-size: 1.3rem;
  color: var(--accent);
}


.games p,
.games span,
.games h3 {
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.games p,
.games h3 {
  color: var(--accent);
}

.legend,
.fieldset {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.button svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .search input {
    width: 340px;
    font-size: 1rem;
    padding: 0.4rem;
  }

  .search button {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }

  .games {
    flex-direction: column;
    align-items: center;
  }

  .referenceList {
    gap: .6rem;
  }

  .referenceList li {
    flex-direction: column;
    align-items: start;
  }
}